@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-Bold.ttf');
    font-weight: bold;
}

*,
* > * {
  box-sizing: border-box;
  margin: 0;
}

body {
    background-color: #666;
}

main,
.banner {
    padding: 30px 80px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;

    text-align: center;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    background-color: #ccc;
    border-radius: 16px;

    font-family: 'Montserrat', sans-serif;
}

.banner > h1 {
    font-family: 'Tektur';
    font-size: 3em;
}
